h3 {
    color: green;
    background-color: blueviolet;
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    &:hover {
        text-shadow: 1px 1px 1px red;
        color: darkred;
        background-color: orange;
    }
}