.top {
  width: 100%;
  height: 40px;
  color: white;
  background-color: red;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
}
.smallcontainer {
  width: 800px;
  margin: 5px auto 0px;
}
.smallcontainer .banner {
  width: 100%;
  height: 70px;
  color: white;
  border-radius: 10px;
  background-color: purple;
  text-align: center;
  line-height: 70px;
}
.smallcontainer .xiaosi {
  width: 100%;
  height: 60px;
  margin-top: 10px;
}
.smallcontainer .xiaosi div {
  float: left;
  width: 185px;
  height: 60px;
  margin-right: 20px;
  border-radius: 10px;
  color: white;
  background-color: skyblue;
  text-align: center;
  line-height: 60px;
}
.smallcontainer .xiaosi div:last-child {
  margin-right: 0px;
}
.smallcontainer .dasi {
  width: 100%;
  height: 160px;
  margin-top: 10px;
}
.smallcontainer .dasi div {
  float: left;
  width: 185px;
  height: 160px;
  margin-right: 20px;
  border-radius: 10px;
  color: white;
  background-color: blue;
  text-align: center;
  line-height: 160px;
}
.smallcontainer .dasi div:last-child {
  margin-right: 0;
}
.footer {
  width: 100%;
  height: 90px;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  background-color: orange;
  text-align: center;
  line-height: 90px;
}
